*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: antiquewhite;
}

.wrapper{
    width: 420px;
    background: linear-gradient(90deg, aquamarine, rgb(7, 129, 129));
    border-radius: 30px;
    text-align: center;

}
.wrapper input{
    border-radius: 10px;
    text-align: center;
    margin: 2px;
}
.wrapper fieldset{
    border-radius: 50px;
    background: antiquewhite;
}
.wrapper .extra .submit{
    width: 70%;
    margin: 10px;
}